@use '/styles/base/mixin' as mixin;

// 各セクションのタグ
.section-tag {
  display: flex;
  align-items: center;
  &__num {
    font-size: 2.6rem;
    font-weight: 900;
    margin-right: 20px;
    @include mixin.mq-down(sp) {
      font-size: 1.6rem;
      margin-right: 15px;
    }
  }
  &__ttl {
    position: relative;
    z-index: 1;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    padding-left: 60px;
    text-transform: uppercase;
    @include mixin.mq-down(sp) {
      font-size: 1.3rem;
      padding-left: 35px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: #fff;
      width: 40px;
      height: 1px;
      @include mixin.mq-down(sp) {
        width: 20px;
      }
    }
  }
}

// 各セクションのコンテンツ
.section-detail {
  &__ttl {
    margin-top: 40px;
    font-size: 3.2rem;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: 600;
    @include mixin.mq-down(lt) {
      font-size: 3vw;
    }
    @include mixin.mq-down(tb) {
      font-size: 4.2vw;
      margin-top: 20px;
    }
    @include mixin.mq-down(sp) {
      font-size: 5.8vw;
    }
  }
  &__body {
    margin-top: 20px;
  }
}

// 各セクションの丸ボタン
.section-btn {
  display: inline-block;
  .link {
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 100%;
    padding: 18px 24px 18px 30px;
    border: 1px solid #fff;
    border-radius: 50px;
    background: mixin.$primary-color;
    transition: background 200ms mixin.$bezier-easeOutSine;
    @include mixin.mq-up(tb) {
      &:hover {
        background: #473480;
      }
    }
    .txt {
      position: relative;
      z-index: 1;
      display: inline-block;
      padding-right: 50px;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.08em;
      line-height: 1;
      white-space: nowrap;
      text-transform: uppercase;
      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 30px;
        height: 1px;
        background: #fff;
      }
    }
    .deco {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #fff;
      &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
      }
    }
  }
}

// Under construction
.uc {
  width: 100%;
  &__wrap {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
    @include mixin.mq-down(tb) {
      padding: 100px 40px;
      height: auto;
    }
    @include mixin.mq-down(sp) {
      padding: 100px 20px 50px;
    }
  }
  &__img {
    @include mixin.mq-down(tb) {
      width: 60%;
      margin: 0 auto;
    }
  }
  &__detail {
    text-align: center;
    margin-top: 40px;
    &__ttl {
      text-transform: uppercase;
      font-size: 5.6rem;
      font-weight: 700;
      letter-spacing: 0.04em;
      @include mixin.mq-down(lt) {
        font-size: 5.4vw;
      }
      @include mixin.mq-down(tb) {
        font-size: 6.4vw;
      }
      @include mixin.mq-down(sp) {
        font-size: 7.2vw;
      }
    }
    &__txt {
      margin-top: 10px;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      @include mixin.mq-down(lt) {
        font-size: 1.8vw;
      }
      @include mixin.mq-down(tb) {
        font-size: 2.4vw;
      }
      @include mixin.mq-down(sp) {
        font-size: 3.5vw;
      }
    }
  }
}

// l-page
.l-page {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  .mv {
    position: relative;
    &__wrap {
      max-width: 1100px;
      padding: 200px 50px 100px;
      margin: 0 auto;
      text-align: center;
      @include mixin.mq-down(tb) {
        padding: 170px 80px 0;
      }
      @include mixin.mq-down(sp) {
        padding: 150px 20px 0;
      }
    }
    &__ttl {
      font-size: 6.4rem;
      font-weight: 900;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @include mixin.mq-down(tb) {
        font-size: 10vw;
      }
      @include mixin.mq-down(sp) {
        font-size: 10vw;
      }
    }
    &__txt {
      display: inline-block;
      margin-top: 12px;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      @include mixin.mq-down(tb) {
        font-size: 4vw;
      }
      @include mixin.mq-down(sp) {
        margin-top: 6px;
      }
    }
    &__bg01 {
      position: absolute;
      z-index: -1;
      top: -10%;
      left: -320px;
      @include mixin.mq-down(lt) {
        width: 100%;
      }
      @include mixin.mq-down(tb) {
        width: 80%;
        max-width: inherit;
        top: -40px;
        left: -40%;
      }
      @include mixin.mq-down(sp) {
        width: 80%;
        top: 10%;
        left: -40%;
      }
    }
    &__bg02 {
      position: absolute;
      z-index: -1;
      top: 55%;
      right: 80px;
      width: 270px;
      @include mixin.mq-down(lt) {
        width: 240px;
        right: 40px;
      }
      @include mixin.mq-down(tb) {
        width: 30%;
        top: 70%;
      }
      @include mixin.mq-down(sp) {
        width: 35%;
        right: 20px;
        top: 85%;
      }
    }
  }
}

// l-page
.l-page {
  .intro {
    &__wrap {
      width: 100%;
      max-width: 1100px;
      padding: 0 50px;
      margin: 0 auto;
      @include mixin.mq-down(tb) {
        padding: 0 80px;
      }
      @include mixin.mq-down(sp) {
        padding: 0 20px;
      }
    }
    &__body {
      font-size: 1.5rem;
      text-align: center;
      @include mixin.mq-down(tb) {
        text-align: left;
        margin-top: 80px;
        br {
          display: none;
        }
      }
    }
  }
}
