@use '/styles/base/base' as base;

.footer{
  padding: 160px 40px 50px;
  background: linear-gradient(
    to bottom,
    rgba(base.$primary-color, 0) 0%,
    rgba(base.$primary-color, .8) 25%,
    rgba(base.$primary-color, 1) 40%,
    rgba(base.$primary-color, 1) 100%,
  );
  &__wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info{
      display: flex;
      flex-direction: column;
      .logo{
        width: 100%;
      }
      .copy{
        margin-top: 10px;
        font-size: 1.2rem;
        letter-spacing: .06em;
        color: rgba(#fff, .8);
      }
    }
    .nav{
      display: flex;
      align-items: center;
      &__pages{
        display: flex;
        &__item{
          font-size: 1.6rem;
          font-weight: 500;
          &:not(:first-child){
            margin-left: 20px;
          }
        }
      }
      &__sns{
        display: flex;
        margin-left: 28px;
        &__item{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: #fff;
          &:not(:first-child){
            margin-left: 14px;
          }
          .link{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}