@use '/styles/base/mixin' as mixin;

.header {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mixin.mq-down(tb) {
    padding: 20px 30px;
  }
  @include mixin.mq-down(sp) {
    padding: 20px;
  }
  .header-logo {
    @include mixin.mq-down(tb) {
      max-width: 300px;
    }
    @include mixin.mq-down(sp) {
      width: 75%;
    }
    .link {
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity 200ms mixin.$bezier-easeOutSine;
      @include mixin.mq-up(tb) {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .nav {
    display: flex;
    align-items: center;
    &__pages {
      display: flex;
      @media screen and (max-width: 1080px) {
        display: none;
      }
      &__item {
        font-size: 1.6rem;
        font-weight: 500;
        &:not(:first-child) {
          margin-left: 20px;
        }
        .link {
          transition: opacity 200ms mixin.$bezier-easeOutSine;
          @include mixin.mq-up(tb) {
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
    &__sns {
      display: flex;
      margin-left: 28px;
      @media screen and (max-width: 1080px) {
        display: none;
      }
      &__item {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #fff;
        &:not(:first-child) {
          margin-left: 14px;
        }
        .link {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mixin.mq-up(tb) {
            transition: opacity 200ms mixin.$bezier-easeOutSine;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
    &__toggle {
      width: 36px;
      height: 36px;
      margin-left: 30px;
      padding: 3px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      .line {
        position: relative;
        width: 100%;
        height: 10px;
        span:first-child {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 1px;
          background: #fff;
        }
        span:last-child {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 1px;
          background: #fff;
        }
      }
      .txt {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}

.d-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: mixin.$primary-color;
  overflow-y: auto;
  transition: opacity 400ms mixin.$bezier-easeOutSine,
    visibility 400ms mixin.$bezier-easeOutSine;
  @include mixin.mq-down(tb) {
    height: auto;
    min-height: inherit;
    display: block;
  }
  &.-open {
    visibility: visible;
    opacity: 1;
  }
  .hd {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixin.mq-down(tb) {
      padding: 20px 30px;
    }
    @include mixin.mq-down(sp) {
      padding: 20px;
    }
    .header-logo {
      .link {
        display: block;
        transition: opacity 200ms mixin.$bezier-easeOutSine;
        @include mixin.mq-up(tb) {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .toggle-btn {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      @include mixin.mq-down(sp) {
        margin-left: 30px;
      }
      svg {
        color: mixin.$primary-color;
        width: 20px;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    min-height: calc(100vh - 96px);
    margin: 0 auto;
    padding: 50px;
    @include mixin.mq-down(tb) {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 50px 80px;
      min-height: inherit;
    }
    @include mixin.mq-down(sp) {
      padding: 50px 20px;
    }
    .visual {
      max-width: 384px;
      width: 38.4%;
      @include mixin.mq-down(tb) {
        max-width: inherit;
        width: 50%;
        margin-top: 30px;
        margin-left: auto;
      }
      @include mixin.mq-down(sp) {
        width: 60%;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      width: 50%;
      @include mixin.mq-down(sp) {
        width: 100%;
      }
      &__pages {
        &__item {
          &:not(:first-child) {
            margin-top: 20px;
          }
          .link {
            text-transform: uppercase;
            font-size: 7rem;
            font-weight: 900;
            letter-spacing: 0.04em;
            transition: letter-spacing 200ms mixin.$bezier-easeOutSine;
            @include mixin.mq-up(tb) {
              &:hover {
                letter-spacing: 0.1em;
              }
            }
            @include mixin.mq-down(lt) {
              font-size: 7vw;
            }
            @include mixin.mq-down(sp) {
              font-size: 8vw;
            }
          }
        }
      }
    }
  }
}
