.header{
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px){
    padding: 20px 30px;
  }
  @media screen and (max-width: 420px){
    padding: 20px;
  }
  .logo{
    width: 100%;
    .link{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .nav{
    display: flex;
    align-items: center;
    &__pages{
      display: flex;
      @media screen and (max-width: 1080px){
        display: none;
      }
      &__item{
        font-size: 1.6rem;
        font-weight: 500;
        &:not(:first-child){
          margin-left: 20px;
        }
      }
    }
    &__sns{
      display: flex;
      margin-left: 28px;
      @media screen and (max-width: 1080px){
        display: none;
      }
      &__item{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #fff;
        &:not(:first-child){
          margin-left: 14px;
        }
        .link{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &__toggle{
      width: 36px;
      height: 36px;
      margin-left: 30px;
      padding: 3px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      .line{
        position: relative;
        width: 100%;
        height: 10px;
        span:first-child{
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 1px;
          background: #fff;
        }
        span:last-child{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 1px;
          background: #fff;
        }
      }
      .txt{
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }
}