@use '/styles/base/base' as base;

@use '/styles/layout/header';
@use '/styles/layout/footer';

.top-page {
  .mv{
    position: relative;
    width: 100%;
    height: 760px;
    padding: 50px;
    @media screen and (max-width: 768px){
      height: 520px;
      padding: 30px;
    }
    &__wrap{
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1080px;
      height: 100%;
      margin: 0 auto;
      .catch{
        width: 100%;
        &__ttl{
          width: 100%;
          max-width: 1000px;
          margin: 0 auto;
          .img-box{
            position: relative;
            padding-top: calc((122 / 1000) * 100%);
            svg{
              .a{
                fill: base.$primary-color;
              }
            }
          }
        }
        &__txt{
          text-align: center;
          margin-top: 40px;
          font-size: 2.4rem;
          font-weight: 600;
          letter-spacing: .05em;
          color: base.$primary-color;
          @media screen and (max-width: 768px){
            font-size: 3.8vw;
            margin-top: 20px;
          }
        }
      }
    }
    &__bg01{
      position: absolute;
      z-index: -1;
      bottom: -15%;
      left: -320px;
      width: 50%;
      max-width: 690px;
      @media screen and (max-width: 768px){
        bottom: 0;
        left: -40%;
        width: 80%;
        max-width: inherit;
      }
    }
    &__bg02{
      position: absolute;
      z-index: -1;
      top: 120px;
      right: 40px;
      @media screen and (max-width: 768px){
        top: 80px;
        width: 80px;
        right: 20px;
      }
    }
    &__bg03{
      position: absolute;
      z-index: -1;
      bottom: 20px;
      right: 120px;
      width: 20%;
      max-width: 270px;
      @media screen and (max-width: 768px){
        width: 40%;
        bottom: 20px;
        right: 40px;
      }
    }
  }
  .about{
    &__wrap{
      max-width: 1200px;
      padding: 150px 50px;
      margin: 0 auto;
      @media screen and (max-width: 768px){
        padding: 40px 30px;
      }
    }
    &__contents{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      &__hd{
        .ttl{
          font-size: 4.2rem;
          line-height: 1.75;
          letter-spacing: .06em;
          font-weight: 600;
        }
      }
      &__body{
        max-width: 52%;
        .txt{
          font-size: 1.5rem;
          line-height: 2.6;
          letter-spacing: .08em;
          font-weight: 600;
        }
        .section-btn{
          margin-top: 50px;
          max-width: 200px;
        }
      }
    }
  }
  .works{
    &__wrap{
      max-width: 1200px;
      padding: 150px 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .visual{
        max-width: 620px;
        width: 48%;
      }
      .section-detail{
        width: 50%;
        max-width: 490px;
        .section-btn{
          margin-top: 50px;
          max-width: 200px;
        }
      }
    }
  }
  .skills{
    &__wrap{
      max-width: 1200px;
      padding: 150px 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .visual{
        max-width: 510px;
        width: 46%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item{
          width: 31%;
          background: #fff;
          display: flex;
          justify-content: center;
          padding: 4%;
          align-items: center;
          &:not(:nth-child(3n + 1)){
            margin-left: 3%;
          }
          &:not(:nth-child(-n + 3)){
            margin-top: 3%;
          }
        }
      }
      .section-detail{
        width: 50%;
        max-width: 490px;
        .section-btn{
          margin-top: 50px;
          max-width: 200px;
        }
      }
    }
  }
  .challenge{
    &__wrap{
      max-width: 1200px;
      padding: 150px 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .visual{
        max-width: 620px;
        width: 48%;
      }
      .section-detail{
        width: 44.5%;
        max-width: 490px;
        .section-btn{
          margin-top: 50px;
          max-width: 200px;
        }
      }
    }
  }
}

.section-detail{
  &__ttl{
    margin-top: 40px;
    font-size: 3.2rem;
    line-height: 1.75;
    letter-spacing: .05em;
    font-weight: 600;
  }
  &__body{
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 2.6;
    letter-spacing: .08em;
    font-weight: 600;
  }
}