@use '/styles/base/base' as base;

@use '/styles/layout/header';
@use '/styles/layout/footer';

.top-page {
  .mv{
    position: relative;
    width: 100%;
    height: 760px;
    &__wrap{
      position: relative;
      width: 100%;
      max-width: 1080px;
      height: 100%;
      margin: 0 auto;
      .catch{
        position: absolute;
        left: 0;
        bottom: 120px;
        &__ttl{
          font-size: 7.2rem;
          line-height: 1.3;
          letter-spacing: .04em;
          font-family: base.$custom-font-eng01;
          text-transform: uppercase;
        }
        &__txt{
          margin-top: 20px;
          font-size: 2.4rem;
          font-weight: 600;
          letter-spacing: .05em;
        }
      }
    }
  }
}
