@use '/styles/base/mixins';
@use '/styles/base/variables';

.works_l {
  .contents {
    margin-top: 50px;
    padding: 0 50px;
    @include mixins.mq-down(tb) {
      padding: 0 40px;
    }
    @include mixins.mq-down(sp) {
      padding: 0 20px;
    }
    &__list {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      &__item {
        &:not(:first-child) {
          margin-top: 100px;
          @include mixins.mq-down(tb) {
            margin-top: 60px;
          }
          @include mixins.mq-down(sp) {
            margin-top: 40px;
          }
        }
        .visual {
          width: 100%;
        }
        .detail {
          margin-top: 12px;
          @include mixins.mq-down(sp) {
            margin-top: 6px;
          }
          &__ttl {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.6;
            @include mixins.mq-down(tb) {
              font-size: 2.6vw;
            }
            @include mixins.mq-down(sp) {
              font-size: 4vw;
            }
          }
          &__tag {
            display: inline-block;
            margin-top: 8px;
            padding: 2px 10px;
            border-radius: 3px;
            background: rgba(#000, 0.4);
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.8;
            color: #fff;
            @include mixins.mq-down(tb) {
              font-size: 1.8vw;
            }
            @include mixins.mq-down(sp) {
              font-size: 3vw;
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}
