@use '/styles/base/variables';
@use '/styles/base/mixins';

html {
  font-size: 62.5%;
  font-family: variables.$default-font;
  font-weight: 400;
  background: variables.$primary-color;
  color: #fff;
  letter-spacing: 0.075em;
  body {
    position: relative;
    &:before {
      content: '';
      position: fixed;
      z-index: -100;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(
          0deg,
          transparent calc((100vh / 3) - 1px),
          rgba(#fff, 0.3) calc(100vh / 3)
        ),
        linear-gradient(
          90deg,
          transparent calc((100vw / 5) - 1px),
          rgba(#fff, 0.3) calc(100vw / 5)
        );
      background-size: calc(100vw / 5) calc(100vh / 3);
      @media screen and (max-width: 1080px) {
        background-image: linear-gradient(
            0deg,
            transparent calc((100vh / 3) - 1px),
            rgba(#fff, 0.3) calc(100vh / 3)
          ),
          linear-gradient(
            90deg,
            transparent calc((100vw / 3) - 1px),
            rgba(#fff, 0.3) calc(100vw / 3)
          );
        background-size: calc(100vw / 3) calc(100vh / 3);
      }
      @media screen and (max-width: 768px) {
        background-image: linear-gradient(
            0deg,
            transparent calc((100vh / 5) - 1px),
            rgba(#fff, 0.3) calc(100vh / 5)
          ),
          linear-gradient(
            90deg,
            transparent calc((100vw / 3) - 1px),
            rgba(#fff, 0.3) calc(100vw / 3)
          );
        background-size: calc(100vw / 3) calc(100vh / 5);
      }
    }
    p {
      font-size: 1.5rem;
      line-height: 2.6;
      font-weight: 500;
      @include mixins.mq-down(lt) {
        line-height: 2;
      }
      @include mixins.mq-down(sp) {
        line-height: 2.2;
        font-size: 1.4rem;
      }
    }
    #container {
      overflow-x: hidden;
    }
  }
}

// SET CSS Style
.img-box {
  position: relative;
  img,
  svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

// SET PADDING
.px-50 {
  padding-right: 50px;
  padding-left: 50px;
  @include mixins.mq-down(tb) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @include mixins.mq-down(sp) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
